<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin4j.framework.mybatis.mapper.CrmCustomMapper">


    <select id="query" resultType="com.admin4j.framework.mybatis.entity.CrmCustom">

        select * from crm_custom
        <if test="name != null and name != ''">
            where name like concat('%',concat(#{name},'%'))
        </if>
    </select>
    <select id="queryJoin" resultType="java.lang.Object">
        select * from crm_custom cc inner join sys_user su on cc.salesman = su.user_id
        <if test="name != null and name != ''">
            where name like concat('%',concat(#{name},'%')) or id > 0
        </if>
    </select>
    
    <select id="queryLeftJoin" resultType="java.lang.Object">
        select * from crm_custom cc left join sys_user su on cc.salesman = su.user_id
        <if test="name != null and name != ''">
            where name like concat('%',concat(#{name},'%')) or id > 15
        </if>
    </select>
</mapper>
